<div class="total">
  <h1>Shopping Cart</h1>
<nav class="st">
<a routerLink="/dashboard">Dashboard &nbsp;</a>
<a routerLink="/products">Products&nbsp;</a><span></span>
<a routerLink="/cart">Cart</a>
<!-- <form class="search">
  <input type="text" #myInput [(ngModel)]="name" (input)="Search()" />
  <input class="ip" type="search" placeholder="Search" value="Search">
  <button class="bttn" type="submit" onclick="Search()">Search</button>
</form> -->
</nav><br>
<router-outlet></router-outlet>
<app-product-detail></app-product-detail>
</div>
